{% extends "layout/base.html" %}

{% block content %}

<h1>Tasks</h1>
<p>¿Cómo funciona render?
Cargar la plantilla: Django busca el archivo de plantilla (template_name) en los directorios configurados en TEMPLATES en el archivo de configuración (settings.py).
Procesar la plantilla: Django procesa la plantilla usando el contexto que le proporcionaste. Las variables que aparecen en el contexto  son reemplazadas por sus valores.Generar la respuesta: Una vez procesada la plantilla, Django genera una respuesta HTTP con el contenido HTML resultante y la envía de vuelta al navegador del usuario.
</p>

{% comment %} Tasks {% endcomment %}

{% for task in tasks%}
    <div>
{% comment %} En Django, {%%} se utiliza para delimitar etiquetas de plantilla (template tags) esto es jinga  {% endcomment %}
    <h2>{% if task.done == False %} ⌚ {% else %} 🆗 {% endif %} {{task.title}}</h2>
    
    <!-- el codigo qye esta en el h2 sustituye a este fragmento
    {% if task.done == False %}
    <p>Tarea pendiente</p>
    {% else %}
    <p>Tarea realizada</p>
    {% endif %}-->


    <p>{{task.description}}</p>
    <p><strong>Project:</strong> {{task.project.name}}</p>
    <div>
        <button>Delete</button>
        <button>🆗 Done</button>
    </div>
    </div>  
{% endfor %}

{% endblock %}