<h1>Projects</h1>
<p>¿Cómo funciona render?
    Cargar la plantilla: Django busca el archivo de plantilla (template_name) en los directorios configurados en TEMPLATES en el archivo de configuración (settings.py).
    Procesar la plantilla: Django procesa la plantilla usando el contexto que le proporcionaste. Las variables que aparecen en el contexto  son reemplazadas por sus valores.Generar la respuesta: Una vez procesada la plantilla, Django genera una respuesta HTTP con el contenido HTML resultante y la envía de vuelta al navegador del usuario.
</p>
{% comment %} <p>{{project}}</p> {% endcomment %}


{% comment %} lOOPS, RECORRER ELEMENTOS CON UN FOR,project es la varible que creamos para el for e in projects es la variable creada del views.py en el apartado del render     {% endcomment %}
{% for project in projects %}
<h2>{{project.name}}
{% endfor %}

